<!DOCTYPE html>
<html>
  <head>
    <title>Traveasy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="bodiv" className="mdl-layout mdl-layout--no-desktop-drawer-button mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
      <%= javascript_pack_tag 'navigation' %>
      
      <%= yield %>
    </div>
  </body>
</html>
